# --- Environnement Python ---
pycache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# --- Dossiers virtuels ---
.env
.venv/
venv/
ENV/

# --- Clés et Secrets (TRES IMPORTANT) ---
serviceAccountKey.json
service-account.json
kaggle.json

# --- Fichiers système & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Fichiers binaires inutiles sur le serveur ---
chromedriver.exe
geckodriver.exe