fastapi
uvicorn
playwright
requests
beautifulsoup4
firebase-admin
python-dotenv
google-auth
pydantic
selenium
webdriver-manager
kaggle
urllib3
facebook-scraper
lxml_html_clean
apify-client
google-generativeai
python-multipart
apscheduler
cloudscraper==1.2.71